*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #031227;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;    
    
}
.navlogo{
    height: 50px;
    width: 110px;

}
.logo{
    background-image: url("amazon.jpg");
    height: 50px;
    width: 100%;
    background-size: contain; 
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;
}


/* css for box 2 */
.add-first{
    color: #CCCCCC;
    font-size: 0.9em;
    margin-left: 17px;
}

.add-sec{
    font-size: 1.1rem;
    font-weight :bolder;
    
}
.add-icon{
    display: flex;
    align-items: center; 
}

/* css for search icon */
.nav-search{
    display: flex;
    background-color: #ffae3c;
    width: 850px;
    height: 40px;
    border-radius: 5px;
}
.nav-search:hover{
    border: 2px solid  #ffae3c;
}
.search-select{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 50px;
    text-align: center;
    border: none;
    background-color: rgb(218, 217, 217);
}
.search-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    font-size: 1.3rem;
    color:#0f1111
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
/* language selector css */
.lang-logo{
    display: flex;
    font-size: 1.5rem;
    border-radius: 4px;
    /* margin-top: 15px; */
}
.lang{
    background-color:#0f1111;
    display: flex;
    text-align: center;
    margin-left: 2px;
}
/* css for sign in */

.return{
    font-size: 12px;
}
.nav-signin{
    font-size: 12px;
}
.nav-second{
    font-size: 16px;
    font-weight: 700;
}



/* css for cart */

.nav-cart{
    display: flex;
    justify-content: center;
    font-size: 25px ;
}
.nav-text{
    font-size: 16px;
    font-weight: bold;
    padding-top: 5px;
}



/* css for pannel */

.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;   
    color: white;
    align-items: center;
    justify-content: center;
   
}
.panel-ops p {
    display: inline-block;
    margin-left: 10px;
}
.panel-ops{
    width: 90%;
    font-size: 14px;
}
.panel-all{
    margin-right: 10px;
    margin-left: -80px;
} 




/* hero section css */

.hero-section{
    background-image: url("hero image.jpg");
    height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    width:95%;
    margin-bottom: 25px;
}
.hero-msg a {
    color:#007185; 
}


/* css for shop section */
.shop-section{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color:  #222f3d;
}
.box{
    height:400px;
    /* border:2px solid black; */
    width: 23%;
    background-color: white;
    margin-top: 15px;
    padding-top: 10px;
    margin-bottom: 50px;
}
.box p{
   color: #007185;
   margin-top: 1rem;
}
.box-img{
    height:300px;
    margin-top: 1rem;
}

.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}

/* footer css */
.back-top{
    background-color: #031227;
    height: 70px;
    display: flex;
    justify-content: center;
    color:white;
    align-items: center;
}
.logo-bottom{
    background-image: url("amazon.jpg");
    height: 50px;
    width: 114px;
    background-size: contain;
    margin-left: 10px;
}
